Debug
Release
build/
.settings
*.launch
*.mxproject
STM32/**/githash.h
**/.cortex-debug*
.vscode/settings.json
STM32/**/settings.json
unit_testing/.vscode/settings.json

# Compiled python files
*.pyc

# Virtual environment files
.venv/

# Log files
*.log